@font-face {
    font-family: PlusJakarta-Regular;
    src: url(/static/font/PlusJakartaSans-Regular.ttf);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body h2 {
    font-family: PlusJakarta-Regular;
    font-size: 38px;
    text-transform: capitalize;
    font-weight: bold;
  }
  body h3 {
    font-family: PlusJakarta-Regular;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: bold;
  }
  body h4 {
    font-family: PlusJakarta-Regular;
    font-size: 20px;
    word-spacing: 4px;
  }
  body h5 {
    font-family: PlusJakarta-Regular;
    font-size: 18px;
    font-weight: bold;
  }
  body h6 {
    font-family: PlusJakarta-Regular;
    font-size: 16px;
    font-weight:600;
  }

#active{
    width: 244px;
    height: 42px;
    background-color: #E9C842;
    border-radius: 10px;
    transform: scale(1.05);
    box-shadow: 0px 3px 3px #000000ad;
}

#sidenavbar{
    box-shadow: 1px 0px 5px #00000045;
}
body, html {
    height: 100%;
    margin: 0;
}
main {
    display: flex;
    flex-direction: row;
}

.text-black {
    color: black;
}
.profil{
  display: flex;
  align-items:  center;
}
.profil img{
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}
.content {
    flex-grow: 1;
    background-color: #f5f5f5;
    padding: 20px;
}

.form-content{
    display: flex;
    justify-content: space-between;
}
.form-content h6{
    font-weight: 400;
}
#formprofil1{
    display: flex;
    justify-content: space-between;
}
.profil-content{
    width: 874px;
    height: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: #000000a7 0px 0px 10px;
}
.profil-content .dataprofil{
    width: 492px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #000000;
    margin-bottom: 10px;
    padding: 5px 8px;

}
.fotoprofil img{
    object-fit: cover;
    background-size: cover;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
#simpan{
    width: 100px;
    height: 35px;
    margin: 0px 30px;
    font-family: PlusJakarta-Regular;
    font-weight: 500    ;
    background-color: #1877F2;
    border: none;
    border-radius: 10px;
    color: white;
    filter: drop-shadow(0.5px 4px 2px #0000003b );
}
.fielddata-profil-flex{
    display: flex;
    margin-bottom: -20px;
}
.fielddata-profil-flex{
    display: flex;
    justify-content: space-between;
}
.fielddata-profil-flex .dataprofil{
    width: 202px;
    height: 35px;
    padding: 8px 8px;
    border-radius: 10px;
    border: 1px solid #000000;
}
#submitbutton1,#submitbutton2,#submitbutton3,#submitbutton4{
    width: 160px;
    height: 40px;
    font-family: PlusJakarta-Regular;
    filter: drop-shadow(0.5px 4px 2px #0000003b );
}
.fielddata-profil input[type='text'],.fielddata-password input[type='text'],.fielddata-profil input[type='number'],.fielddata-profil input[type='email'],.fielddata-profil input[type='password'], .fielddata-password input[type='password'], .fielddata-profil input[type='date'], .fielddata-profil select{
    width: 492px;
    height: 35px;
    border-radius: 10px;
    padding: 5px 8px;
    border: 1px solid #000000;
}
.editprofil-content-flex input[type='text'],.editprofil-content-flex input[type='number'],.editprofil-content-flex input[type='email'],.editprofil-content-flex input[type='password'],.editprofil-content-flex input[type='date'],.editprofil-content-flex select{
    width: 202px;
    height: 35px;
    padding: 8px 8px;
    border-radius: 10px;
    border: 1px solid #000000;
    overflow: hidden;
}
.editpassword-content .fielddata-password{
    position: relative;
}

.editpassword-content .fielddata-password .show-hide img{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 35px;
    cursor: pointer;
}
.buttonlogout{
    position: absolute;
    bottom: 5%;
}

#logout{
    width: 224px;
    height: 43px;
    background-color: #00000000;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0px 1px 3px #00000049;
}