@font-face {
    font-family:PlusJakarta-Regular ;
    src: url(/static/font/PlusJakartaSans-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body h2{
        font-family: PlusJakarta-Regular;
        font-size: 38px;
        text-transform: capitalize;
        font-weight: bold;
}
body h3{
        font-family: PlusJakarta-Regular;
        font-size: 22px;
        text-transform: capitalize;
        font-weight: bold;
}
body h4{
    font-family: PlusJakarta-Regular;
    font-size: 20px;
    word-spacing: 4px;
}
body h5{
    font-family: PlusJakarta-Regular;
    font-size: 18px;
    font-weight: 550;
}
body h6{
    font-family: PlusJakarta-Regular;
    font-size: 16px;
    font-weight: 550;
}
.navbar{
    display: flex;
    justify-content: space-around;
}

.nav-item ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: -80px;
}
.nav-item li{
    margin: 0px 15px;
    font-family: PlusJakarta-Regular;
}
.nav-item li a{
    text-decoration: none;
    color: #5f5f5f;
    transition: 0.3s ease-in-out;
}
.nav-item li a:hover{
    color: black;
}
#loginbutton{
    width: 90px;
    height: 35px;
    font-family: PlusJakarta-Regular;
    font-weight: 500    ;
    background-color: #1877F2;
    border: none;
    border-radius: 10px;
    color: white;
    filter: drop-shadow(0.5px 4px 2px #0000003b );
}
.navbarprofil_content{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px;
}
.descnavbar, #descnavbar{
    position: relative;
    display: flex;
    margin: 10px 0px;
}
.descnavbar button, #descnavbar button{
    position: relative;
    text-align: start;
    width: 240px;
    height: 42px;
    background-color: #E9C842;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
.descnavbar a, #descnavbar a{
    font-family: PlusJakarta-Regular;
    color: #777E90;
    font-size: 16px;
    text-decoration: none;
}
.descnavbar img, #descnavbar img{
    position: absolute;
    top: 25%;
    right: 5%;
    width: 24px;
    height: 24px;
}
.descnavbar ion-icon, #descnavbar ion-icon{
    position: absolute;
    top: 25%;
    right: 5%;
    width: 24px;
    height: 24px;
    color: #777E90;
}
.form-content{
    display: flex;
    justify-content: space-between;
}
.profil-content{
    width: 874px;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: #000000a7 0px 0px 10px;
}
.profil-content .dataprofil{
    width: 492px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #000000;
    margin-bottom: 10px;
    padding: 5px 8px;

}
.fotoprofil img{
    object-fit: cover;
    background-size: cover;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
#simpan{
    width: 100px;
    height: 35px;
    margin: 0px 30px;
    font-family: PlusJakarta-Regular;
    font-weight: 500    ;
    background-color: #1877F2;
    border: none;
    border-radius: 10px;
    color: white;
    filter: drop-shadow(0.5px 4px 2px #0000003b );
}
.fielddata-profil-flex{
    display: flex;
    margin-bottom: -20px;
}
.fielddata-profil-flex{
    display: flex;
    justify-content: space-between;
}
.fielddata-profil-flex .dataprofil{
    width: 202px;
    height: 35px;
    padding: 8px 8px;
    border-radius: 10px;
    border: 1px solid #000000;
}
#submitbutton1,#submitbutton2,#submitbutton3,#submitbutton4{
    width: 160px;
    height: 40px;
    font-family: PlusJakarta-Regular;
    filter: drop-shadow(0.5px 4px 2px #0000003b );
}
.fielddata-profil input[type='text'],.fielddata-password input[type='text'],.fielddata-profil input[type='number'],.fielddata-profil input[type='email'],.fielddata-profil input[type='password'], .fielddata-password input[type='password'], .fielddata-profil input[type='date'], .fielddata-profil select{
    width: 492px;
    height: 35px;
    border-radius: 10px;
    padding: 5px 8px;
    border: 1px solid #000000;
}
.editprofil-content-flex input[type='text'],.editprofil-content-flex input[type='number'],.editprofil-content-flex input[type='email'],.editprofil-content-flex input[type='password'],.editprofil-content-flex input[type='date'],.editprofil-content-flex select{
    width: 202px;
    height: 35px;
    padding: 8px 8px;
    border-radius: 10px;
    border: 1px solid #000000;
    overflow: hidden;
}
.editpassword-content .fielddata-password{
    position: relative;
}

.editpassword-content .fielddata-password .show-hide img{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 35px;
    cursor: pointer;
}
.footer-contact img{
    width: 40px;
    height: 40px;
    margin: 0px 5px;
}
.footer-contact li{
    list-style: none;
}
.judulfooter{
    padding: 50px;
}
footer{
    margin-top: 50px;
    background-color: #2F3538;
}
footer h2, footer h6{
    color: #fff;
}