@font-face {
    font-family:PlusJakarta-Regular ;
    src: url(/static/font/PlusJakartaSans-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body h2{
        font-family: PlusJakarta-Regular;
        font-size: 38px;
        text-transform: capitalize;
        font-weight: bold;
}
body h3{
        font-family: PlusJakarta-Regular;
        font-size: 22px;
        text-transform: capitalize;
        font-weight: bold;
}
body h4{
    font-family: PlusJakarta-Regular;
    font-size: 20px;
    word-spacing: 4px;
}
body h5{
    font-family: PlusJakarta-Regular;
    font-size: 18px;
    font-weight: 550;
}
body h6{
    font-family: PlusJakarta-Regular;
    font-size: 16px;
    font-weight: 550;
}
.navbar{
    display: flex;
    justify-content: space-around;
}

.nav-item ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: -80px;
}
.nav-item li{
    margin: 0px 15px;
    font-family: PlusJakarta-Regular;
}
.nav-item li a{
    text-decoration: none;
    color: #5f5f5f;
    transition: 0.3s ease-in-out;
}
.nav-item li a:hover{
    color: black;
}
#loginbutton{
    width: 90px;
    height: 35px;
    font-family: PlusJakarta-Regular;
    font-weight: 500    ;
    background-color: #1877F2;
    border: none;
    border-radius: 10px;
    color: white;
    filter: drop-shadow(0.5px 4px 2px #0000003b );
}
.apaitumountserv-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px 0px;
}
.descapaitumountserv{
    width: 550px;
    height: auto;
}
.ratingdescapaitumountserv{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 0px 0px;
}
.misimountserv-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 200px 0px 200px 0px;
}
.descmisimountserv{
    width: 750px;
    height: auto;
}
.footer-contact img{
    width: 40px;
    height: 40px;
    margin: 0px 5px;
}
.mengapamountserv{
    margin: 100px 0px;
}
.icondandescmengapa img{
    margin: 0px -50px;
}
.icondandescmengapa h5{
    font-family: PlusJakarta-Regular;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0px;
}
.icondandescmengapa h6{
    font-family: PlusJakarta-Regular;
    font-size: 16px;
}
.jasapelayanan-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0px 100px 0px;
}
.descfotojasa{
    display: flex;
}
.descfotojasa img{
    filter: drop-shadow(0.5px 4px 2px #0000003b );
}
.descjasa{
    width: 431px;
    height: auto;
}
.galeri-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0px 150px 0px;
}
.grid-content1, .grid-content2, .grid-content3{
    position: relative;
    flex-basis: calc(30% - 250px);
    justify-content: center;
    filter: drop-shadow(0.5px 4px 2px #0000003b );
}
.grid-content1 img, .grid-content2 img, .grid-content3 img{
    transition: 0.3s ease-in-out;
}
.grid-content1 img:hover, .grid-content2 img:hover, .grid-content3 img:hover{
    transform: scale(1.1);
}
.footer-contact img{
    width: 40px;
    height: 40px;
    margin: 0px 5px;
}
.footer-contact li{
    list-style: none;
}
.judulfooter{
    padding: 50px;
}
footer{
    margin-top: 50px;
    background-color: #2F3538;
}
footer h2, footer h6{
    color: #fff;
}