<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/dashboardpesananstatus.css">
    <link rel="stylesheet" href="/static/css/sidebars.css">
    <script src="static/js/jquery.js"></script>
    <script src="static/js/sidebars.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>


<body>

<main class="d-flex flex-nowrap">
      <div class="position-relative d-flex flex-column flex-shrink-0 p-3 text-bg-black " style="width: 280px;" id="sidenavbar">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-black text-decoration-none">
          <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-4"><img src="/static/img/icon/logo.png" alt="" class="mb-5"></span>
        </a>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
          <li>
            <a href="{{url_for('dashboard')}}" class="nav-link text-black">
                <img width="16" height="16" src="/static/img/dashboard/icon/dashboard.svg" alt="">
              Dashboard
            </a>
          </li>
          <li id="active">
            <a href="{{url_for('dashboardpesanan')}}" class="nav-link text-black">
              <img width="16" height="16" src="/static/img/dashboard/icon/pesanan.svg" alt="">
              Pesanan
            </a>
          </li>
          <li>
            <a href="{{url_for('dashboarddaftarharga')}}" class="nav-link text-black">
                <img width="16" height="16" src="/static/img/dashboard/icon/daftarpesanan.svg" alt="">
                Daftar Produk
            </a>
          </li>
          <li>
            <a href="{{url_for('dashboardanalisis')}}" class="nav-link text-black">
                <img width="16" height="16" src="/static/img/dashboard/icon/analisis.svg" alt="">
                Analisis
            </a>
          </li>
          <li>
            <a href="{{url_for('dashboardkeuangan')}}" class="nav-link text-black">
              <img width="16" height="16" src="/static/img/dashboard/icon/totalpendapatan.svg" alt="">
              Keuangan
            </a>
          </li>
          <li >
            <a href="{{url_for('dashboardulasan')}}" class="nav-link text-black">
              <img width="16" height="16" src="/static/img/dashboard/icon/totalpenilaian.svg" alt="">
              Ulasan
            </a>
          </li>
          <li>
            <a href="{{url_for('dashboardcuaca')}}" class="nav-link text-black">
              <img width="16" height="16" src="/static/img/dashboard/icon/cuaca.svg" alt="">
              Cuaca
            </a>
          </li>
          <li>
            <a href="{{url_for('dashboardprogram')}}" class="nav-link text-black">
              <img width="16" height="16" src="/static/img/dashboard/icon/program.svg" alt="">
              Program
            </a>
          </li>
          <hr>
          <li>
            <a href="{{url_for('profil')}}" class="nav-link text-black">
              <img width="16" height="16" src="/static/img/dashboard/icon/beralih.svg" alt="">
              Beralih Ke Akun Pendaki
            </a>
          </li>
          <div class="buttonlogout">
            <a href="{{url_for('logout')}}"><button type="submit" id="logout">Keluar Akun</button></a>
        </div>
        </ul>
      </div>
      <div class="content py-4 px-5" style="background-color: aliceblue; width:1px ;"> 
        <div class="header d-flex justify-content-between align-items-center mb-4">
            <h3>Pesanan</h3>
            <div class="profil">
              <a href="{{url_for('dashboardprofil')}}"><img src="/static/uploads/profil/{{gambarprofil}}" alt=""></a>
              <h6>{{nama}}</h6>
          </div>
        </div>  
        <div class="pesanan-content mx-auto">
          <div id="formbelumbayar" class="">
              <div class="navbarpesanan-content d-flex justify-content-between px-4">
                  <div class="statusdeskripsi text-center">
                      <div class="status1" style="background-color: {{pesanditerima}};"></div>
                      <h6 style="margin-right: -90px;">Pesan Diterima</h6>
                  </div>
                  <div id="garis"></div>
                  <div class="statusdeskripsi text-center" style="margin: 0px -67px;">
                      <div class="status2" style="background-color: {{perjalananmendaki}} "></div>
                      <h6 style="width: 150px; margin-left: -10px;">Perjalanan Mendaki</h6>
                  </div>
                  <div id="garis"></div>
                  <div class="statusdeskripsi text-center" style="margin-right: 68px;">
                      <div class="status3" style="background-color: {{selesai}}"></div>
                      <h6 style="margin-left: -17px ;">Selesai</h6>
                  </div>
              </div>
              <div id="pesanan-container">
                  <div id="pesansekilas">
                    <div class="d-flex justify-content-between my-3">
                      <div class="deskripsi px-4">
                          <img src="/static/img/pesanan/order.png" alt="">
                      </div>
                      <div class="" style="width: 1200px;">
                          <div class="judulpesan">
                              <h4 style="text-transform: capitalize; font-weight: bold;">{{namaproduk}}</h4>
                              <h6 style="text-transform: capitalize; font-weight: bold;">Gunung {{gunung}} Jalur {{jalur}}</h6>
                          </div>
                          <hr>
                          <div class="field d-flex">
                              <div class="jasa" style="width: 200px;">
                                  <h6 class="" style="font-weight: bold;">Pendaki</h6>
                                  <h6 class="" style="font-weight: bold;">No HP</h6>
                                  <h6 class="" style="font-weight: bold;">Email</h6>
                                  <h6 class="" style="font-weight: bold;">Pilihan Jasa</h6>
                                  <h6 class="" style="font-weight: bold;">Harga</h6>
                                  <h6 class="" style="font-weight: bold;">Pelayanan Jasa Anda</h6>
                              </div>
                              <div class="nohp">
                                  <h6 class="" >{{namapendaki}}</h6>
                                  <h6 class="" >{{nohppendaki}}</h6>
                                  <h6 class="" >{{emailpendaki}}</h6>
                                  <h6 class="" style="text-transform: capitalize;">{{namaproduk}}</h6>
                                  <h6 class="{{fieldporter}}" >Rp.{{hargaporter}}</h6>
                                  <h6 class="{{fieldtourguide}}" >Rp.{{hargatourguide}}</h6>
                                  <h6 class="{{fieldpenyewaan}}" >Rp.{{hargapenyewaan}}</h6>
                                  <div class="{{fieldporter}}">
                                    <div class="star-ratingtampil" data-target="penilaianporter" data-rating="{{penilaianporter}}" style="margin-top: -20px;">
                                      <span class="star">★</span>
                                      <span class="star">★</span>
                                      <span class="star">★</span>
                                      <span class="star">★</span>
                                      <span class="star">★</span>
                                    </div>
                                  </div>
                                  <div class="{{fieldtourguide}}">
                                    <div class="star-ratingtampil" data-target="penilaiantofieldtourguide" data-rating="{{penilaiantourguide}}" style="margin-top: -20px;">
                                      <span class="star">★</span>
                                      <span class="star">★</span>
                                      <span class="star">★</span>
                                      <span class="star">★</span>
                                      <span class="star">★</span>
                                    </div>
                                  </div>
                                  <div class="{{fieldpenyewaan}}">
                                    <div class="star-ratingtampil" data-target="penilaianpenyewaan" data-rating="{{penilaianpenyewaan}}" style="margin-top: -20px;">
                                      <span class="star">★</span>
                                      <span class="star">★</span>
                                      <span class="star">★</span>
                                      <span class="star">★</span>
                                      <span class="star">★</span>
                                    </div>
                                  </div>
                                </div>
                          </div>
                          <hr>
                          <div class="button d-flex justify-content-end mb-3">
                                  <a href="{{url_for('dashboardpesanan')}}"><button type="button" id="bayar">Kembali</button></a>
                              </form>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
            </div>
      </div>
      </div>
</main>
</body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      const starRatings = document.querySelectorAll('.star-ratingtampil');
      starRatings.forEach(starRating => {
          const rating = parseInt(starRating.getAttribute('data-rating'));
          const stars = starRating.querySelectorAll('.star');
          for (let i = 0; i < rating; i++) {
              stars[i].classList.add('active');
          }
      });
  });
</script>