<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/pesananbelumbayar.css">
    <script src="static/js/jquery.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <!--navbar-->
    <nav>
        <div class="navbar d-flex justify-content-around">
            <div class="logo">
                <h1><a href="{{ url_for('index') }}"><img src="/static/img/icon/logo.png" alt="" /></a></h1>
            </div>
            <div class="nav-item">
                <ul>
                    <li><a href="{{ url_for('index') }}">Beranda</a></li>
                    <li><a href="{{ url_for('tentangkami') }}">Tentang Kami</a></li>
                    <li><a href="{{ url_for('mountain') }}">Gunung</a></li>
                    <li><a href="{{ url_for('cuaca') }}">Cuaca</a></li>
                    <li><a href="{{ url_for('kontak') }}">Hubungi Kami</a></li>
                </ul>
            </div>
            <div class="login">
                <a href="{{ url_for('login') }}"><button type="submit" class="{{buttonlogin}}" id="loginbutton">Masuk</button></a>
                 <div class="dropdown">
                    <a class="btn" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none;">
                        <img class="{{buttonuser}}" src="/static/uploads/profil/{{gambarprofil}}" alt="" style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
                    </a>     
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('profil') }}">Profil</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Keluar</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--navbar-->

    <div class="main mx-5">
        <!--navbarprofil dan konten-->
        <div class="navbarprofil_content">
            <div class="navbar-content">
                <div class="descnavbar">
                    <button type="button" id="profil"><a href="{{ url_for('profil') }}">Profil</a></button>
                    <ion-icon name="person-outline"></ion-icon>
        
                </div>
                <div class="descnavbar">
                    <button type="button" id="pesanan"><a href="{{ url_for('pesanbelumbayar') }}"style="color: #000000;">Pesanan</a></button>
                    <ion-icon name="receipt-outline"  style="color: #000000;"></ion-icon>
                </div>
                <div class="{{bukajasa}}" id="descnavbar">
                    <button type="button" id="bukajasa"><a href="{{ url_for('bukajasa') }}">Buka Jasa</a></button>
                    <ion-icon name="storefront-outline"></ion-icon>
                </div>
                <div class="{{dashboard}}" id="descnavbar">
                    <button type="button" id="dashboard"><a href="{{ url_for('dashboard') }}">Dashboard</a></button>
                    <ion-icon name="speedometer-outline"></ion-icon>
                </div>
            </div>
            <div class="pesanan-content">
                <div id="formbelumbayar" action="" method="post" class="">
                    <div class="navbarpesanan-content d-flex justify-content-between px-4">
                        <div class="statusdeskripsi text-center">
                            <div class="status1" style="background-color: {{pesanditerima}};"></div>
                            <h6 style="margin-right: -90px;">Pesan Diterima</h6>
                        </div>
                        <div id="garis"></div>
                        <div class="statusdeskripsi text-center" style="margin: 0px -53px;">
                            <div class="status2" style="background-color: {{perjalananmendaki}} "></div>
                            <h6>Perjalanan Mendaki</h6>
                        </div>
                        <div id="garis"></div>
                        <div class="statusdeskripsi text-center" style="margin-right: 68px;">
                            <div class="status3" style="background-color: {{selesai}}"></div>
                            <h6 style="margin-left: -17px ;">Selesai</h6>
                        </div>
                    </div>
                    <div id="pesanan-container">
                        <div id="pesansekilas" class="my-3">
                            <form action="{{url_for('penilaianberhasil')}}" method="post">
                            <div class="d-flex justify-content-between my-3">
                                <div class="deskripsi px-4">
                                    <img src="/static/img/pesanan/order.png" alt="">
                                </div>
                                <div class="" style="width: 1200px;">
                                    <div class="judulpesan">
                                        <h4 style="text-transform: capitalize; font-weight: bold;">{{namaproduk}}</h4>
                                        <h6 style="text-transform: capitalize; font-weight: bold;">Gunung {{gunung}} Jalur {{jalur}}</h6>
                                    </div>
                                    <hr>
                                    <div class="field d-flex justify-content-between">
                                        <div class="jasa">
                                            <h6 class="{{fieldporter}}" style="font-weight: bold;">{{porter}}</h6>
                                            <h6 class="{{fieldporter}}" style="margin-bottom: 30px;">{{namaporter}}</h6>
                                            <h6 class="{{fieldtourguide}}" style="font-weight: bold;">{{tourguide}}</h6>
                                            <h6 class="{{fieldtourguide}}" style="margin-bottom: 30px;">{{namatourguide}}</h6>
                                            <h6 class="{{fieldpenyewaan}}" style="font-weight: bold;">{{penyewaan}}</h6>
                                            <h6 class="{{fieldpenyewaan}}" style="margin-bottom: 30px;">{{namapenyewaan}}</h6>
                                        </div>
                                        <div class="nohp">
                                            <h6 class="{{fieldporter}}" style="font-weight: bold;">No HP</h6>
                                            <h6 class="{{fieldporter}}" style="margin-bottom: 30px;">{{nohpporter}}</h6>
                                            <h6 class="{{fieldtourguide}}" style="font-weight: bold;">No HP</h6>
                                            <h6 class="{{fieldtourguide}}" style="margin-bottom: 30px;">{{nohptourguide}}</h6>
                                            <h6 class="{{fieldpenyewaan}}" style="font-weight: bold;">No HP</h6>
                                            <h6 class="{{fieldpenyewaan}}" style="margin-bottom: 30px;">{{nohppenyewaan}}</h6>
                                        </div>
                                        <div class="harga">
                                            <h6 class="{{fieldporter}}" style="font-weight: bold;">Harga</h6>
                                            <h6 class="{{fieldporter}}" style="margin-bottom: 30px;">Rp.{{hargaporter}}</h6>
                                            <h6 class="{{fieldtourguide}}" style="font-weight: bold;">Harga</h6>
                                            <h6 class="{{fieldtourguide}}" style="margin-bottom: 30px;">Rp.{{hargatourguide}}</h6>
                                            <h6 class="{{fieldpenyewaan}}" style="font-weight: bold;">Harga</h6>
                                            <h6 class="{{fieldpenyewaan}}" style="margin-bottom: 30px;">Rp.{{hargapenyewaan}}</h6>
                                        </div>
                                        <div class="penilaian me-4">
                                            <div class="{{fieldporter}}">
                                                <h6 class="fw-bold">Penilaian Porter</h6>
                                                <div class="star-rating" data-target="penilaianporter" style="margin-top: -20px; margin-bottom: 20px;">
                                                    <input type="radio" name="rating1" id="rating1-5" value="5"><label for="rating1-5">★</label>
                                                    <input type="radio" name="rating1" id="rating1-4" value="4"><label for="rating1-4">★</label>
                                                    <input type="radio" name="rating1" id="rating1-3" value="3"><label for="rating1-3">★</label>
                                                    <input type="radio" name="rating1" id="rating1-2" value="2"><label for="rating1-2">★</label>
                                                    <input type="radio" name="rating1" id="rating1-1" value="1"><label for="rating1-1">★</label>
                                                </div>
                                                <input type="hidden" name="penilaianporter" id="penilaianporter" value="">
                                            </div>
                                            <div class="{{fieldtourguide}}" >
                                                <h6 class="fw-bold">Penilaian Tour Guide</h6>
                                                <div class="star-rating" data-target="penilaiantourguide" style="margin-top: -20px; margin-bottom: 20px;">
                                                    <input type="radio" name="rating2" id="rating2-5" value="5"><label for="rating2-5">★</label>
                                                    <input type="radio" name="rating2" id="rating2-4" value="4"><label for="rating2-4">★</label>
                                                    <input type="radio" name="rating2" id="rating2-3" value="3"><label for="rating2-3">★</label>
                                                    <input type="radio" name="rating2" id="rating2-2" value="2"><label for="rating2-2">★</label>
                                                    <input type="radio" name="rating2" id="rating2-1" value="1"><label for="rating2-1">★</label>
                                                </div>
                                                <input type="hidden" name="penilaiantourguide" id="penilaiantourguide" value="">
                                            </div>
                                            <div class="{{fieldpenyewaan}}">
                                                <h6 class="fw-bold">Penilaian Penyewaan</h6>
                                                <div class="star-rating" data-target="penilaianpenyewaan" style="margin-top: -20px; margin-bottom: 20px;">
                                                    <input type="radio" name="rating3" id="rating3-5" value="5"><label for="rating3-5">★</label>
                                                    <input type="radio" name="rating3" id="rating3-4" value="4"><label for="rating3-4">★</label>
                                                    <input type="radio" name="rating3" id="rating3-3" value="3"><label for="rating3-3">★</label>
                                                    <input type="radio" name="rating3" id="rating3-2" value="2"><label for="rating3-2">★</label>
                                                    <input type="radio" name="rating3" id="rating3-1" value="1"><label for="rating3-1">★</label>
                                                </div>
                                                <input type="hidden" name="penilaianpenyewaan" id="penilaianpenyewaan" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="deskripsi d-flex justify-content-end px-4 py-2">
                                        <div class="me-4">
                                            <h6>Subtotal</h6>
                                            <h6>Diskon</h6>
                                            <h6>Biaya Layanan</h6>
                                            <h6 style="color: #000000;">Total</h6>
                                            <h6 style="color: #000000;">Metode Pembayaran</h6>
                                        </div>
                                        <div class="" style="width: 100px;">
                                            <h6>Rp.{{subtotal}}</h6>
                                            <h6 style="text-decoration: line-through;">Rp.{{diskon}}</h6>
                                            <h6 >Rp.{{layanan}}</h6>
                                            <h6 style="color: #000000;">Rp.{{totalharga}}</h6>
                                            <h6 style="color: #000000;">{{metodepembayaran }}</h6>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="button d-flex justify-content-end mb-3">
                                            <input type="hidden" name="idpesanan" value="{{idpesanan}}">
                                            <input type="hidden" name="jenisproduk" value="{{jenisproduk}}">
                                            <button type="submit" id="bayar">Simpan</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--navbarprofil dan konten-->
    </div>
    <!--footer-->
    <footer>
        <div class="container">
            <div class="judulfooter text-center">
                <h2 class="my-2">MountServ Siap Membantumu</h2>
                <h6 class="my-5">Halo, kami MountServ berusaha untuk membantu anda dalam kegiatan pendakian anda.</h6>
            </div>
            <div class="footer-content d-flex justify-content-between align-items-center py-3">
                <h1><a href="#"><img src="/static/img/icon/logo.png" alt="" /></a></h1>
                <h6>© 2024 MountServ All Rights Reserved. </h6>
                <div class="footer-contact d-flex ">
                    <li><a href=""><img src="{{ url_for('static', filename='img/landingpage/icon/whatsapp.png') }}" alt=""/></a></li>
                    <li><a href=""><img src="{{ url_for('static', filename='img/landingpage/icon/instagram.png') }}" alt=""/></a></li>
                    <li><a href=""><img src="{{ url_for('static', filename='img/landingpage/icon/facebook.png') }}" alt=""/></a></li>
                </div>
            </div>
        </div>
    </footer>
    </body>
</html>

<script>
document.querySelectorAll('.star-rating').forEach(function(starRating) {
        starRating.addEventListener('change', function(event) {
            const targetId = this.getAttribute('data-target');
            const ratingValue = this.querySelector('input:checked').value;
            document.getElementById(targetId).value = ratingValue;
        });
    });
</script>