<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/pesananbelumbayar.css">
    <script src="static/js/jquery.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <!--navbar-->
    <nav>
        <div class="navbar d-flex justify-content-around">
            <div class="logo">
                <h1><a href="{{ url_for('index') }}"><img src="/static/img/icon/logo.png" alt="" /></a></h1>
            </div>
            <div class="nav-item">
                <ul>
                    <li><a href="{{ url_for('index') }}">Beranda</a></li>
                    <li><a href="{{ url_for('tentangkami') }}">Tentang Kami</a></li>
                    <li><a href="{{ url_for('mountain') }}">Gunung</a></li>
                    <li><a href="{{ url_for('cuaca') }}">Cuaca</a></li>
                    <li><a href="{{ url_for('kontak') }}">Hubungi Kami</a></li>
                </ul>
            </div>
            <div class="login">
                <a href="{{ url_for('login') }}"><button type="submit" class="{{buttonlogin}}" id="loginbutton">Masuk</button></a>
                 <div class="dropdown">
                    <a class="btn" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none;">
                        <img class="{{buttonuser}}" src="/static/uploads/profil/{{gambarprofil}}" alt="" style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
                    </a>     
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('profil') }}">Profil</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Keluar</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--navbar-->

    <div class="main mx-5">
        <!--navbarprofil dan konten-->
        <div class="navbarprofil_content">
            <div class="navbar-content">
                <div class="descnavbar">
                    <button type="button" id="profil"><a href="{{ url_for('profil') }}">Profil</a></button>
                    <ion-icon name="person-outline"></ion-icon>
        
                </div>
                <div class="descnavbar">
                    <button type="button" id="pesanan"><a href="{{ url_for('pesanbelumbayar') }}"style="color: #000000;">Pesanan</a></button>
                    <ion-icon name="receipt-outline"  style="color: #000000;"></ion-icon>
                </div>
                <div class="{{bukajasa}}" id="descnavbar">
                    <button type="button" id="bukajasa"><a href="{{ url_for('bukajasa') }}">Buka Jasa</a></button>
                    <ion-icon name="storefront-outline"></ion-icon>
                </div>
                <div class="{{dashboard}}" id="descnavbar">
                    <button type="button" id="dashboard"><a href="{{ url_for('dashboard') }}">Dashboard</a></button>
                    <ion-icon name="speedometer-outline"></ion-icon>
                </div>
            </div>
            <div class="pesanan-content">
                <div id="formbelumbayar" action="" method="post" class="">
                    <div class="navbarpesanan-content d-flex justify-content-between px-4">
                        <div class="descnavbar">
                            <a href="{{ url_for('pesanbelumbayar') }}">Belum Bayar</a>
                        </div>
                        <div class="descnavbar">
                            <a href="{{ url_for('pesansudahbayar') }}">Sedang Berlangsung</a>
                        </div>
                        <div class="descnavbar">
                            <a href="{{ url_for('pesanselesai') }}" style="color: #000000; transform: scale(1.05);">Selesai</a>
                        </div>
                        <div class="descnavbar">
                            <a href="{{ url_for('pesanbatal') }}">Dibatalkan</a>
                        </div>
                    </div>
                    <hr >
                    <div id="pesanan-container">
                        {% if pesanan_list %}
                            {% for pesanan in pesanan_list %}
                                <div id="pesansekilas" class="my-3">
                                    <h4 class="p-3" style="font-weight: bold; text-transform: capitalize;">{{ pesanan.namaproduk }}</h4>
                                    <div class="pesanansekilas-content d-flex justify-content-between">
                                        <div class="deskripsi px-4">
                                            <img src="/static/img/pesanan/order.png" alt="">
                                        </div>
                                        <div class="deskripsi px-4">
                                            <h6 style="text-transform: capitalize; color: #000;">{{ pesanan.jenisproduk }}</h6>
                                        </div>
                                        <div class="deskripsi px-4">
                                            {% if pesanan.jenisproduk == 'porter' %}
                                                <h6>{{ pesanan.namaporter }}</h6>
                                            {% elif pesanan.jenisproduk == 'tour guide' %}
                                                <h6>{{ pesanan.namatourguide }}</h6>
                                            {% elif pesanan.jenisproduk == 'paket' %}
                                                <h6>{{ pesanan.namaporter }}</h6>
                                                <h6>{{ pesanan.namatourguide }}</h6>
                                                <h6>{{ pesanan.namapenyewaan }}</h6>
                                            {% endif %}
                                        </div>
                                        <div class="deskripsi px-4">
                                            {% if pesanan.jenisproduk == 'porter' %}
                                                <h6>Rp.{{ pesanan.hargaporter }}</h6>
                                            {% elif pesanan.jenisproduk == 'tour guide' %}
                                                <h6>Rp.{{ pesanan.hargatourguide }}</h6>
                                            {% elif pesanan.jenisproduk == 'paket' %}
                                                <h6>Rp.{{ pesanan.hargaporter }}</h6>
                                                <h6>Rp.{{ pesanan.hargatourguide }}</h6>
                                                <h6>Rp.{{ pesanan.hargapenyewaan }}</h6>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="deskripsi text-end px-4 py-2">
                                        <h6 style="color: #000000;">Metode Pembayaran : {{ pesanan.metodepembayaran }}</h6>
                                    </div>
                                    <hr>
                                    <div class="button d-flex justify-content-end mb-3">
                                        <form action="" method="post">
                                            <input type="hidden" name="idpesanan" id="" value="{{pesanan._id}}">
                                            <button type="submit" id="detail">Pesan Ulang</button>
                                        </form>
                                        {% if not pesanan.penilaianporter and not pesanan.penilaiantourguide and not pesanan.penilaianpenyewaan %}
                                        <form action="{{ url_for('penilaian') }}" method="post">
                                            <input type="hidden" name="idpesanan" id="" value="{{ pesanan._id }}">
                                            <button type="submit" id="bayar">Nilai Pesanan</button>
                                        </form>
                                        {% else %}
                                        <form action="{{ url_for('penilaiantampil') }}" method="post">
                                            <input type="hidden" name="idpesanan" id="" value="{{ pesanan._id }}">
                                            <button type="submit" id="bayar" style="width: 220px;">Tampilkan Penilaian Jasa</button>
                                        </form>
                                        {% endif %}
                                        </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>Tidak ada pesanan dengan status selesai.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!--navbarprofil dan konten-->
    </div>
    <!--footer-->
    <footer>
        <div class="container">
            <div class="judulfooter text-center">
                <h2 class="my-2">MountServ Siap Membantumu</h2>
                <h6 class="my-5">Halo, kami MountServ berusaha untuk membantu anda dalam kegiatan pendakian anda.</h6>
            </div>
            <div class="footer-content d-flex justify-content-between align-items-center py-3">
                <h1><a href="#"><img src="/static/img/icon/logo.png" alt="" /></a></h1>
                <h6>© 2024 MountServ All Rights Reserved. </h6>
                <div class="footer-contact d-flex ">
                    <li><a href=""><img src="{{ url_for('static', filename='img/landingpage/icon/whatsapp.png') }}" alt=""/></a></li>
                    <li><a href=""><img src="{{ url_for('static', filename='img/landingpage/icon/instagram.png') }}" alt=""/></a></li>
                    <li><a href=""><img src="{{ url_for('static', filename='img/landingpage/icon/facebook.png') }}" alt=""/></a></li>
                </div>
            </div>
        </div>
    </footer>
    </body>
</html>
